libPS4/build/
libPS4/libPS4.a
libusbfatfs/build/
libusbfatfs/libusbfatfs.a
examples/*/build
examples/*/*.bin
examples/*/*.elf
examples/*/*.bat
examples/*/*.exe
examples/*/*.sh
examples/*/*/build
examples/*/*/*.bin
examples/*/*/*.elf
examples/*/*/*.bat
examples/*/*/*.exe
examples/*/*/*.sh
